.bars {
    display: flex;
    height: 500px;
    align-items: baseline;
    justify-content: center;
    overflow-x: auto;
    overflow-y: hidden;
}

.bar {
    margin: 0 2px;
    min-width: 3px;
    display: inline-block;
}

.gen-button {
    margin: 3px auto;
    display: block;
}